.contacts {
    background-color: #006ba1;
    color: white;
}
#НашАдрес{
    color: #63C7CB;
}
#Телефон{
    color: #63C7CB;
}
#ВремяРаботы {
    color: #63C7CB;
}
#Почта {
    color: #63C7CB;
}
#Соц {
    color: #63C7CB;
}
#Инст {
    color: white;
}
#ВК {
    color: white;
}
#ЮТ {
    color: white;
}